.room-details {
  border-bottom: 1px solid $darkShade25;

  &__photos {
    display: grid;
    grid-template-columns: 68% 32%;

    @media (max-width: 768px) {
      display: block;

      :nth-child(2) {
        display: none;
      }
      :nth-child(3) {
        display: none;
      }
    }

    :nth-child(1) {
      grid-row: 1/3;
      width: 100%;
    }
    :nth-child(2) {
      width: 100%;
    }
    :nth-child(3) {
      grid-column: 2;
      width: 100%;
      transform: translate(0, -4px);
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;

    padding: 71px 140px;

    transform: translateY(-3px);

    @media (max-width: 1400px) {
      padding: 70px 50px;
    }

    @media (max-width: 1215px) {
      padding: 40px 10%;
    }

    @media (max-width: 900px) {
      padding: 40px 20px;
      flex-direction: column;
      align-items: center;
    }

    .details-wrapper {
      display: flex;
      flex-direction: column;

      margin-top: 2px;

      .room-details-titles {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 19px;

        word-spacing: 3px;
        line-height: 19px;

        color: $darkShade100;

        margin-bottom: 5px;
      }

      .room-info-and-impress {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1215px) {
          flex-direction: column;
        }

        @media (max-width: 900px) {
          flex-direction: row;
        }

        @media (max-width: 650px) {
          flex-direction: column;
        }

        .room-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 285px;

          @media (max-width: 650px) {
            align-items: center;
          }

          > .room-details-titles {
            word-spacing: 0px;
            letter-spacing: 0.5px;
          }

          :nth-child(2) {
            padding: 0 0 2px 1px;

            svg {
              transform: translate(3px, -2px);
            }
          }

          :nth-child(3) {
            padding: 2px 0 0 6px;

            svg {
              transform: translateY(-3px);
            }
          }

          :nth-child(4) {
            padding: 5px 0 0 8px;
            border-bottom: none;

            svg {
              transform: translate(-1px, -3px);
            }
          }
        }

        .room-stats {
          display: flex;
          flex-direction: column;

          padding-top: 2px;

          transform: translate(-39px, -2px);

          @media (max-width: 1215px) {
            margin-top: 30px;
            transform: translateX(0px);
          }

          @media (max-width: 650px) {
            align-items: center;
            transform: translateX(10px);
          }

          > .room-details-titles {
            word-spacing: -1px;
            letter-spacing: 0.9px;
          }
        }
      }

      .room-reviews {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 300px;

        margin-top: 18px;

        @media (max-width: 1215px) {
          margin-top: 55px;
        }

        > .room-details-titles {
          letter-spacing: 0.3px;
          word-spacing: 4px;
          margin-bottom: 0;
        }

        .reviews-quantity {
          position: absolute;
          right: 1px;
          top: 4px;

          font-family: Montserrat-Regular;
          font-size: 14px;

          color: $darkShade50;

          @media (max-width: 1215px) {
            margin-top: 30px;
          }
        }
      }

      .room-notes {
        display: flex;
        justify-content: space-between;

        max-width: 702px;

        margin-top: 36px;

        @media (max-width: 640px) {
          flex-direction: column;
          align-items: center;
        }

        &__note-one {
          > .room-details-titles {
            margin-left: 20px;
            letter-spacing: 1px;
          }
        }

        &__note-two {
          display: flex;
          flex-direction: column;
          max-width: 341px;

          @media (max-width: 640px) {
            margin-top: 20px;
          }

          > .room-details-titles {
            letter-spacing: 1px;
          }

          :nth-child(2) {
            font-family: Montserrat-Regular;
            font-size: 14px;
            line-height: 24px;

            color: $darkShade75;

            margin-top: 15px;
          }
        }
      }
    }

    .card-details {
      transform: translateY(-3px);

      @media (max-width: 1215px) {
        position: absolute;
        right: 10%;
      }
      @media (max-width: 900px) {
        position: static;
        margin-top: 20px;
      }
    }
  }
}
