.room-details {
  border-bottom: 1px solid $darkShade25;

  &__photos {
    display: grid;
    grid-template-columns: 68% 32%;

    @media (max-width: 768px) {
      display: block;

      :nth-child(2) {
        display: none;
      }
      :nth-child(3) {
        display: none;
      }
    }

    :nth-child(1) {
      grid-row: 1/3;
      width: 100%;
    }
    :nth-child(2) {
      width: 100%;
    }
    :nth-child(3) {
      grid-column: 2;
      width: 100%;
      transform: translate(0, -4px);
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;

    padding: 70px 140px;

    @media (max-width: 1400px) {
      padding: 70px 50px;
    }

    @media (max-width: 1215px) {
      padding: 40px 10%;
    }

    @media (max-width: 900px) {
      padding: 40px 20px;
      flex-direction: column;
      align-items: center;
    }

    .details-wrapper {
      display: flex;
      flex-direction: column;

      .room-details-titles {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 19px;

        color: $darkShade100;

        margin-bottom: 5px;
      }

      .room-info-and-impress {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1215px) {
          flex-direction: column;
        }

        @media (max-width: 900px) {
          flex-direction: row;
        }

        @media (max-width: 650px) {
          flex-direction: column;
        }

        .room-info {
          display: flex;
          flex-direction: column;

          @media (max-width: 650px) {
            align-items: center;
          }

          :nth-child(4) {
            border-bottom: none;
          }
        }

        .room-stats {
          display: flex;
          flex-direction: column;

          @media (max-width: 1215px) {
            margin-top: 30px;
          }

          @media (max-width: 650px) {
            align-items: center;
          }
        }
      }

      .room-reviews {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 300px;

        margin-top: 30px;

        @media (max-width: 1215px) {
          margin-top: 55px;
        }

        .reviews-quantity {
          position: absolute;
          right: 0;
          top: 0;

          font-family: Montserrat-Regular;
          font-size: 14px;

          color: $darkShade50;

          @media (max-width: 1215px) {
            margin-top: 30px;
          }
        }
      }

      .room-notes {
        display: flex;
        justify-content: space-between;

        margin-top: 40px;

        @media (max-width: 640px) {
          flex-direction: column;
          align-items: center;
        }
        //&__note-one {
        //}

        &__note-two {
          display: flex;
          flex-direction: column;
          max-width: 341px;

          @media (max-width: 640px) {
            margin-top: 20px;
          }

          :nth-child(2) {
            font-family: Montserrat-Regular;
            font-size: 14px;
            line-height: 24px;

            color: $darkShade75;

            margin-top: 15px;
          }
        }
      }
    }
    .card-details {
      @media (max-width: 1215px) {
        position: absolute;
        right: 10%;
      }
      @media (max-width: 900px) {
        position: static;
        margin-top: 20px;
      }
    }
  }
}
