include ../../ui-kits/ui-kits.pug

mixin footer()
  footer.footer
    div.footer__info
      div.logo-desc
        include ../header/images/logo.svg
        span.subtitle.logo-sub Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      div.nav
        span.title Навигация
        ul
          li
            a(href="#") О нас
          li 
            a(href="#") Новости
          li 
            a(href="#") Служба поддержки
          li 
            a(href="#") Услуги
      div.about-us
        span.title О нас
        ul
          li
            a(href="#") О сервисе
          li
            a(href="#") Наша команда
          li 
            a(href="#") Вакансии
          li
            a(href="#") Инвесторы
      div.support
        span.title Служба поддержки
        ul
          li
            a(href="#") Соглашения
          li 
            a(href="#") Сообщества
          li
            a(href="#") Связь с нами
      div.subsc
        span.title Подписка
        span.subtitle Получайте специальные предложения и новости сервиса
        +input('subscribe')

    div.footer__copy-links
      span.copy-text Copyright © 2018 Toxin отель. Все права зачищены.
      div.links
        a(href="#")
          include images/twitter.svg
        a(href="#")
          include images/facebook.svg
        a(href="#")
          include images/instagram.svg