.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 120px;
    padding: 50px 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    //border-top: 1px solid rgba(31, 32, 65, 0.25);

    padding: 100px 140px;

    @media (max-width: 1380px) {
      padding: 100px 50px;
    }

    @media (max-width: 870px) {
      padding: 100px 150px;
    }

    @media (max-width: 768px) {
      justify-content: center;
      align-items: flex-end;
      padding: 0;
    }

    .logo-desc,
    .nav,
    .about-us,
    .support,
    .subsc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        font-family: Montserrat-Bold;
        font-size: 12px;

        text-transform: uppercase;

        color: $darkShade100;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .nav,
    .about-us {
      span {
        margin-bottom: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 128px;
      }
    }

    .logo-desc {
      width: 260px;

      img {
        width: 105px;
        height: 40px;
        margin-bottom: 20px;
      }

      @media (max-width: 870px) {
        display: none;
      }

      @media (max-width: 768px) {
        display: block;
        width: auto;

        span {
          display: none;
        }
      }
    }

    .support {
      span {
        margin-bottom: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 90px;
      }
    }

    .subsc {
      height: 140px;

      @media (max-width: 1170px) {
        display: none;
      }
    }

    .subtitle {
      max-width: 260px;

      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 25px;

      color: $darkShade75;
    }

    .logo-sub {
      margin-top: 20px;
    }

    a {
      font-family: Montserrat-Regular;
      font-size: 14px;

      color: $darkShade50;
    }
  }

  &__copy-links {
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    border-top: 1px solid $darkShade25;

    padding: 0 140px;

    @media (max-width: 768px) {
      flex-direction: column;
      height: 60px;

      border: none;

      padding: 0;
    }
  }
  .links {
    display: flex;
    justify-content: space-between;

    width: 110px;
  }
  .copy-text {
    font-family: Montserrat-Regular;
    font-size: 14px;

    color: $darkShade75;

    @media (max-width: 370px) {
      margin-bottom: 15px;
    }
  }
}

.small {
  align-items: center;

  height: 130px;

  > img {
    width: 105px;
    height: 40px;
  }
}
