.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 270px;
  max-width: 711px;

  @media (max-width: 600px) {
    margin-top: 20px;
  }

  &__user {
    display: flex;
    height: 48px;

    margin-bottom: 10px;

    .avatar {
      width: 48px;
      height: 48px;

      border-radius: 50%;

      box-shadow: 0 0 5px 3px rgb(233, 233, 233);
    }
    .user-data {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      margin-left: 10px;

      text-align: left;

      :nth-of-type(1) {
        font-family: Montserrat-Bold;
        font-size: 14px;

        color: $darkShade75;
      }
      :nth-of-type(2) {
        font-family: Montserrat-Regular;
        font-size: 14px;

        color: $darkShade75;
      }
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;

    .like-container {
      margin: 2px 0 0 4px;
    }

    > span {
      font-family: Montserrat-Regular;
      font-size: 14px;

      color: $darkShade75;

      text-align: left;
      line-height: 24px;

      margin-left: 14px;
    }
  }
}
