include ../button/button.pug

mixin review()
  div.review
    div.review__user
      div.avatar
      div.user-data
        span Мурад Сарафанов
        span 5 дней назад
    div.review__text
      +button('like-btn')
      span Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
