mixin stats(revQuantity)
  div.room-stats-container
    div.circle-stats
      div.circle-stats__part-one
        include images/impress_circle_1.svg
      div.circle-stats__part-two
        include images/impress_circle_2.svg
      div.circle-stats__part-three
        include images/impress_circle_3.svg
      div.voices-quan
        span=revQuantity
        span голосов

    div.stats-list
      ul
        li.list-item Великолепно
        li.list-item Хорошо
        li.list-item Удовлетворительно
        li.list-item Разочарован
