mixin button(type, btnText, btnType)
  case type
    when 'like-btn'
      div.like-container
        div.like-container__heart
        span#likesCount.like-container__number 2

    when 'regular-btn'
      button.regular-btn(class=btnType)=btnText

    when 'buy-btn'
      div.buy-btn-wrapper
        div.arrow_white
        button.regular-btn.btn-buy=btnText

    when 'large-btn'
      div.buy-btn-wrapper.null-width
        button.regular-btn.btn-buy.large-btn=btnText
        //-img(src="arrow_white.png", alt="Перейти")