.like-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  padding-right: 10px;
  padding-left: 5px;

  min-width: 40px;
  height: 20px;

  background: white;
  border: 1px solid $darkShade25;
  border-radius: 10px;

  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &__heart {
    width: 10px;
    height: 10px;

    background: url(images/heart_sprite.png) -5px no-repeat;
  }
  &__number {
    font-family: Montserrat-Regular;
    font-size: 10px;

    color: $darkShade25;
  }
}
.like-active {
  border-color: $purple;

  > span {
    color: $purple;
  }

  > div {
    width: 10px;
    height: 10px;

    background-position-x: -25px;
  }
}

.regular-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 99px;
  height: 44px;

  font-family: Montserrat-Bold;
  font-size: 12px;

  border: none;
  border-radius: 30px;
  text-transform: uppercase;

  color: white;
  background: $purpleGradient;

  transition: all 0.3s ease;

  &:hover {
    color: #9d75f1;
    background: rgb(241, 241, 241);
  }

  a {
    display: block;
  }
}
.btn-active {
  opacity: 1;
}
.btn-disabled {
  opacity: 0.5;
}
.btn-bordered-active {
  color: $purple;
  background: white;
  border: 2px solid $purple;
}
.btn-bordered-disabled {
  color: $purple;
  background: white;
  border: 2px solid #bb9cff81;
}
.btn-pure-active {
  width: auto;
  height: auto;
  color: $purple;
  background: white;
  border: none;
}
.btn-pure-disabled {
  width: auto;
  height: auto;
  color: $darkShade50;
  background: white;
  border: none;
}
.buy-btn-wrapper {
  position: relative;
  width: 320px;

  a {
    display: block;
  }

  @media (max-width: 400px) {
    width: 247px;
  }

  .btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 320px;

    color: white;
    background: $purpleGradient;

    @media (max-width: 400px) {
      width: 247px;
    }
  }
  .arrow_white {
    position: absolute;
    right: 7px;
    top: 7px;

    width: 30px;
    height: 30px;

    cursor: pointer;
  }
  .large-btn {
    width: 196px;

    a {
      display: block;
    }
  }
}
.null-width {
  width: auto;
}
