mixin button(type, btnText, btnType, href)
  case type
    when 'like-btn'
      div.like-container
        div.like-container__heart
        span#likesCount.like-container__number 2

    when 'regular-btn'
      a.regular-btn(class=btnType href=href)=btnText

    when 'buy-btn'
      div.buy-btn-wrapper
        div.arrow_white
          include ../../../images/arrow_white.svg
        a.regular-btn.btn-buy(href=href)=btnText

    when 'large-btn'
      div.buy-btn-wrapper.null-width
        a.regular-btn.btn-buy.large-btn(href=href)=btnText