include ../../ui-kits/ui-kits.pug

mixin room-search()
  div.card.search-card
    span.search-card__title Найдём номера под <br> ваши пожелания
    +input('datepicker')
    +dropdown('dropdown-quests')
    +button('buy-btn', 'подобрать номер', '', 'rooms.html')


