include ../../ui-kits/ui-kits.pug

mixin header(type)
  header.header
    div.header__logo
      a(href="search.html")
        include images/logo.svg

    div.header__content
      div.header__list
        span
          a(href='#') О нас
        span.expandable.one Услуги
        span
          a(href='#') Вакансии
        span
          a(href='#') Новости
        span.expandable.two Соглашения

      div.header__enter-btns
        +button('regular-btn', 'Войти', 'btn-bordered-active', 'enter.html')
        +button('large-btn', 'Зарегистрироваться', '', 'registration.html')

      div.menu-burger
        include images/menu_burger.svg
