.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;

  padding: 0 140px;

  @media (max-width: 1280px) {
    padding: 0 50px;
  }

  @media (max-width: 425px) {
    padding: 0 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-burger {
      display: none;
      width: 40px;

      margin-left: 20px;
      margin-top: 4px;

      @media (max-width: 870px) {
        display: block;
        position: absolute;
        right: 50px;

        margin-left: 0;

        z-index: 10;
      }

      @media (max-width: 425px) {
        right: 25px;
      }
    }
  }

  &__logo {
    img {
      width: 105px;
      height: 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 490px;

    margin-right: 20px;

    transition: all 0.3s ease;

    @media (max-width: 1080px) {
      margin-right: 0;
    }

    @media (max-width: 870px) {
      display: none;
      height: 180px;
      width: 220px;

      flex-direction: column;
      align-items: flex-start;

      position: absolute;
      right: 0;
      top: 0;

      border-bottom: 1px solid $darkShade50;

      padding: 30px 0 15px 40px;
    }

    @media (max-width: 425px) {
      height: 220px;
      padding-left: 30px;
    }

    > span,
    a {
      font-family: Montserrat-Regular;
      font-size: 14px;

      color: $darkShade50;
    }

    .active a {
      font-family: Montserrat-Bold;
      font-size: 14px;

      color: $darkShade75;
    }

    .expandable {
      width: 150px;

      cursor: pointer;

      &::before,
      &::after {
        content: "";
        display: block;

        width: 9px;
        height: 2px;

        transition: all 0.3s ease-out;

        background-color: rgb(122, 122, 122);

        transform: translate(55.5px, 9px) rotate(45deg);

        @media (max-width: 870px) {
          display: none;
        }
      }
      &::after {
        transform: translate(61px, -7px) rotate(-45deg);
      }
    }

    .one {
      width: 70px;
    }

    .two {
      width: 115px;

      &::before,
      &::after {
        transform: translate(97.5px, 9px) rotate(45deg);
      }
      &::after {
        transform: translate(103px, -7px) rotate(-45deg);
      }
    }

    .one,
    .two {
      @media (max-width: 768px) {
        width: auto;
      }
    }
  }

  &__enter-btns {
    display: flex;
    justify-content: space-between;

    width: 320px;

    transition: all 0.3s ease;

    @media (max-width: 1080px) {
      width: auto;
      margin-left: 30px;

      :nth-child(2) {
        display: none;
      }
    }

    @media (max-width: 870px) {
      display: none;

      flex-direction: column;
      align-items: flex-start;

      height: 100px;
      width: 220px;

      position: absolute;
      right: 0;
      top: 226px;

      padding: 15px 0 20px 40px;

      :nth-child(2) {
        display: block;
      }
    }

    @media (max-width: 425px) {
      height: 135px;
      top: 220px;

      padding-left: 30px;
    }
  }

  &__user-name {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;

    border-left: 1px solid $darkShade10;

    padding-left: 20px;

    span {
      font-family: Montserrat-Regular;
      font-size: 14px;

      color: $darkShade50;
    }
  }
}

.show-menu {
  .header__list,
  .header__enter-btns {
    display: flex;

    background-color: #e3e3e3;
    box-shadow: 0 0 10px 0 #ccc;

    z-index: 10;

    @media (max-width: 425px) {
      align-items: center;
      width: 100%;

      box-sizing: border-box;

      padding-left: 0;
    }
  }
}
