.main {
  position: relative;

  > img {
    width: 100%;
    height: 684px;
  }

  // Enter & Registration
  &__enter-bg {
    @media (max-width: 425px) {
      height: 420px !important;
    }
  }

  &__card-wrapper {
    position: absolute;
    left: 50%;
    top: 17px;

    transform: translateX(-50%);

    @media (max-width: 400px) {
      left: 49%;
      width: 300px;
    }
  }

  .enter {
    top: 160px;

    @media (max-width: 425px) {
      top: 30px;
    }
  }
}
