doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Enter
  body
    include ../../includes/headers-footers/headers-footers.pug
    include ../../includes/cards/login/login.pug
    //-include ../../includes/cards/register/register.pug

    +header()

    main.main.enter-page
      div.main__card-wrapper.enter
        +enter()

    +footer()