mixin advantages(title, desc, icon)
  div.advantages
    case icon
      when 'emoticon'
        include images/insert_emoticon.svg
      when 'location'
        include images/location_city.svg
      when 'fire'
        include images/whatshot.svg

    div.advantages__text
      span=title
      span=desc