doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registration
  body
    include ../../includes/headers-footers/headers-footers.pug
    include ../../includes/cards/register/register.pug

    +header()

    main.main
      img(src="../assets/enter-background.png")
      div.main__card-wrapper
        +register()

    +footer()

    script
      include ../../../node_modules/jquery/dist/jquery.js
      include ../../../node_modules/air-datepicker/dist/js/datepicker.js