@import "~@chenfengyuan/datepicker/src/css/datepicker.scss";

%arrow {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 20px;

    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #333333;

    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }
}
%arrow-transform {
  &::before {
    transform: translate(-3px, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(3px, -50%) rotate(45deg);
  }
}
%custom-checkbox {
  input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    transition: all 0.3s ease;
  }

  input + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $purple;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all 0.3s ease;
  }

  input:hover + label::before {
    border-color: #7f48ff;
  }

  input:active + label::before {
    background-color: #efe8ff;
  }

  input:checked + label {
    border-color: $purple;
    background-image: url("images/checked.png");
    background-repeat: no-repeat;
    background-position: 4.5px 3px;
    background-size: 11px 12px;
  }
}

.input-wrapper {
  //height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label {
    height: 15px;

    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: $darkShade100;
  }
  /* regular inputs */
  .input-field {
    width: 320px;
    height: 44px;

    background: #ffffff;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 4px;

    padding-left: 15px;

    transition: border 0.3s;

    @media (max-width: 400px) {
      width: 247px;
    }

    &::placeholder {
      width: 40px;
      height: 18px;

      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 18px;

      color: $darkShade25;

      transition: color 0.3s;
    }

    &:hover,
    &:focus {
      border: 1px solid $darkShade50;

      &::placeholder {
        color: $darkShade75;
      }
    }
  }
  /* date */
  .date {
    position: relative;
    display: flex;
    align-items: center;

    @extend %arrow;

    font-family: Montserrat-Regular;
    font-size: 14px;
    color: $darkShade75;

    user-select: none;
    cursor: pointer;

    span {
      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 18px;

      color: $darkShade75;

      transition: color 0.3s;
    }
  }
  .little {
    width: 150px;
  }
  .subscribe {
    position: relative;
    display: flex;
    width: 320px;

    &__btn {
      position: absolute;
      right: 5px;
      top: 12px;
      width: 40px;

      background: url(images/arrow_forward.png) no-repeat 50% 50%;
      outline: none;
      border: none;
    }
  }
  .arrow-transform {
    @extend %arrow-transform;
  }

  .birth-date-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 65px;
  }
}
