@import "~air-datepicker/dist/css/datepicker.css";

%arrow-transform {
  &::before {
    transform: translate(-2.5px, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(3px, -50%) rotate(45deg);
  }
}
%custom-checkbox {
  input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    transition: all 0.3s ease;
  }

  input + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $purple;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all 0.3s ease;
  }

  input:hover + label::before {
    border-color: #7f48ff;
  }

  input:active + label::before {
    background-color: #efe8ff;
  }

  input:checked + label {
    border-color: $purple;
    //background-image: url("images/checked.png");
    //background-repeat: no-repeat;
    //background-position: 4.5px 3px;
    //background-size: 11px 12px;
  }
}

.input-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .datepicker-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    transform: translate(-1px, -5px);

    .input-and-label-column {
      position: relative;
      display: flex;
      flex-direction: column;

      max-height: 64px;
    }

    .datepicker-trigger {
      position: absolute;
      top: 0;
      left: 0;

      width: 316px;
      height: 60px;

      opacity: 0;
      cursor: pointer;

      @media (max-width: 400px) {
        width: 242px;
      }
    }
  }

  .date-label {
    &::before,
    &::after {
      content: "";

      position: absolute;
      bottom: 30%;
      right: 18px;

      display: block;
      width: 9px;
      height: 2px;

      transform: translate(-2.5px, -50%) rotate(45deg);

      background-color: #7f7f7f;

      transition: all 0.3s ease-out;
      z-index: 9;
      pointer-events: none;

      @media (max-width: 400px) {
        display: none;
      }
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
  }

  label {
    height: 15px;

    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: $darkShade100;

    margin-bottom: 7px;
  }
  /* regular inputs */
  .input-field {
    width: 320px;
    height: 44px;

    background: #ffffff;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 4px;

    padding-left: 14px;
    padding-bottom: 5px;

    transition: border 0.3s;

    @media (max-width: 400px) {
      width: 247px;
    }

    &::placeholder {
      width: 40px;
      height: 18px;

      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 18px;

      color: $darkShade75;

      transition: color 0.3s;
    }

    &:hover,
    &:focus {
      border: 1px solid $darkShade50;
    }
  }
  /* date */
  .date {
    position: relative;
    display: flex;
    align-items: center;

    width: 265px;

    font-family: Montserrat-Regular;
    font-size: 14px;
    color: $darkShade75;

    user-select: none;
    cursor: pointer;
    caret-color: transparent;

    span {
      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 18px;

      color: $darkShade75;

      transition: color 0.3s;
    }
  }
  .little {
    width: 150px;

    @media (max-width: 400px) {
      width: 120px;
    }
  }
  .birth-date {
    width: 320px;

    @media (max-width: 400px) {
      width: 247px;
    }
  }
  .subscribe {
    position: relative;
    display: flex;
    width: 260px;

    > input {
      padding-bottom: 4px;

      &::placeholder {
        color: $darkShade25;
      }
    }

    &__btn {
      position: absolute;
      right: 5px;
      top: 12px;
      width: 40px;

      outline: none;
      border: none;
    }

    .subscribe-btn-wrapper {
      position: absolute;
      right: 8px;
      top: 9px;
      width: 27px;

      cursor: pointer;
    }
  }
  .arrow-transform {
    @extend %arrow-transform;
  }

  .birth-date-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 65px;
  }
  .hidden-wrapper {
    position: absolute;
  }
  [data-range="true"] {
    position: relative;
  }
  [data-range="true"]::before {
    content: "";
    display: block;

    position: absolute;
    bottom: 0;
    left: 5px;

    width: 100px;
    height: 3px;

    background-color: #000;
  }
}
