.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 320px;
  height: 64px;

  label {
    width: 72px;
    height: 15px;

    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: $darkShade100;
  }

  input {
    width: 320px;
    height: 44px;

    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

    padding-left: 15px;

    transition: border 0.3s;

    &::placeholder {
      width: 40px;
      height: 18px;

      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 18px;

      color: $darkShade25;

      transition: color 0.3s;
    }

    &:hover,
    &:focus {
      border: 1px solid rgba(31, 32, 65, 0.5);

      &::placeholder {
        color: $darkShade75;
      }
    }
  }
}
