.main-background {
  position: relative;

  > img {
    width: 100%;
    height: 684px;
  }

  .card-wrapper {
    position: absolute;
    left: 50%;
    top: 17px;

    transform: translateX(-50%);
  }

  .enter {
    top: 150px;
  }
}
