mixin slider()
  div.wrapper
    div.slider-price
      span.slider-price__label диапазон цены
      div.price
        span.price__from
        span.price__to
        span.price__range

    div.multi-range-slider
      input#input-left(type="range" min="0" step="50" max="15000" value="5000")
      input#input-right(type="range" min="0" step="50" max="15000" value="10000")

      div.slider
        div.track
        div.range

    span.slider-desc Стоимость за сутки пребывания в номере