doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Rooms
  body
    include ../../includes/headers-footers/headers-footers.pug
    include ../../includes/ui-kits/input/input.pug
    include ../../includes/ui-kits/dropdown/dropdown.pug
    include ../../includes/ui-kits/slider/slider.pug
    include ../../includes/ui-kits/checkbox/checkbox.pug
    include ../../includes/cards/room/room.pug

    +header()

    main.main.rooms-page
      div.rooms-page__options
        +input('datepicker-twin', 'даты пребывания в отеле')
        +dropdown('dropdown-quests', 'rooms-dropdown-width')
        +slider()
        +checkbox('buttons')
        +checkbox('buttons-with-desc')
        +dropdown('dropdown-params')
        +dropdown('checkbox-list')
      div.rooms-page__rooms
        span.rooms-title Номера, которые мы для вас подобрали
        +room('123', 'люкс', '1 010P', '3', '100', '../assets/room_1.png')
        +room('752', '', '9 090P', '5', '990', '../assets/room_2.png')
        +room('389', '', '8 230P', '4', '570', '../assets/room_3.png')

    +footer()

    script
      //-include rooms.js
      include ../../includes/ui-kits/dropdown/dropdown.js
      include ../../../node_modules/jquery/dist/jquery.js
      include ../../../node_modules/air-datepicker/dist/js/datepicker.js
      include ../../includes/ui-kits/slider/slider.js