doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Rooms
  body
    include ../../includes/headers-footers/headers-footers.pug
    include ../../includes/ui-kits/input/input.pug
    include ../../includes/ui-kits/dropdown/dropdown.pug
    include ../../includes/ui-kits/slider/slider.pug
    include ../../includes/ui-kits/checkbox/checkbox.pug
    include ../../includes/cards/room/room.pug
    include ../../includes/ui-kits/pagination/pagination.pug

    +header()

    main.main.rooms-page
      div.rooms-page__options
        +input('datepicker-twin', 'даты пребывания в отеле')
        div.quests-wrapper
          +dropdown('dropdown-quests', 'rooms-dropdown-width')
        +slider()
        +checkbox('buttons')
        +checkbox('buttons-with-desc')
        +dropdown('dropdown-params')
        +dropdown('checkbox-list')
      div.rooms-page__rooms
        span.rooms-title Номера, которые мы для вас подобрали
        div.rooms-cards
          +room('888', 'люкс', '9 990₽', '5', '145', '../assets/room_1.jpg')
          +room('840', '', '9 900₽', '4', '65', '../assets/room_2.jpg')
          +room('980', 'люкс', '8 500₽', '3', '35', '../assets/room_3.jpg')
          +room('856', '', '7 300₽', '5', '19', '../assets/room_4.jpg')
          +room('740', '', '6 000₽', '4', '44', '../assets/room_5.jpg')
          +room('982', '', '5 800₽', '3', '56', '../assets/room_6.jpg')
          +room('678', '', '5 500₽', '5', '45', '../assets/room_7.jpg')
          +room('450', '', '5 300₽', '4', '39', '../assets/room_8.jpg')
          +room('350', '', '5 000₽', '3', '77', '../assets/room_9.jpg')
          +room('666', '', '5 000₽', '5', '25', '../assets/room_10.jpg')
          +room('444', '', '5 000₽', '3', '15', '../assets/room_11.jpg')
          +room('352', '', '5 000₽', '3', '55', '../assets/room_12.jpg')

        +pagination()

      div#optionToggle.rooms-page__options-toggler

    +footer()

    script
      include rooms.js
      include ../../includes/ui-kits/dropdown/dropdown.js
      include ../../../node_modules/jquery/dist/jquery.js
      include ../../../node_modules/air-datepicker/dist/js/datepicker.js
      include ../../includes/ui-kits/slider/slider.js
      include ../../includes/ui-kits/pagination/pagination.js