%arrow {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 53%;
    right: 18px;

    display: block;
    width: 9px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #7f7f7f;

    transform: translate(-2.5px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }
}
%arrow-transform {
  &::before {
    transform: translate(-3px, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(3px, -50%) rotate(45deg);
  }
}
%custom-checkbox {
  input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    transition: all 0.3s ease;
  }

  input + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all 0.3s ease;
  }

  input:hover + label::before {
    border-color: rgb(175, 175, 175);
  }

  input:active + label::before {
    background-color: #efe8ff;
  }

  input:checked + label {
    span::before {
      background: #8ba4f9;
    }

    span::after {
      background: linear-gradient(9deg, #8ba4f9 0%, #bc9cff 100%);
    }
  }

  input:checked + label::before {
    border-color: $purple;
  }
}

/* dropdown */
.select {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 265px;

  > span {
    font-family: Montserrat-Bold;
    font-size: 12px;

    text-transform: uppercase;

    color: $darkShade100;

    margin-bottom: 7px;
  }

  &[data-state="active"] {
    .select__title {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @extend %arrow-transform;
    }

    .select__content {
      opacity: 1;
      height: 120px;
      padding-top: 7px;
    }

    .dropdown-v-2 {
      height: 160px;
    }

    .checkboxes-content {
      height: 173px;

      &__item {
        visibility: visible;
      }
    }

    .item {
      display: flex;
      opacity: 1;
    }
  }
}
.select__title {
  position: relative;
  display: flex;
  align-items: center;
  width: 265px;
  height: 48px;

  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;

  padding-left: 15px;

  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $darkShade25;

  cursor: pointer;
  user-select: none;
  overflow: hidden;

  transition: all 0.4s;

  &:hover,
  &:active {
    border-color: $darkShade50;
  }

  @extend %arrow;
}
.dropdown-1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-2 {
  width: 320px;

  @media (max-width: 400px) {
    width: 247px;
  }
}
.select__content {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 265px;
  height: 0px;

  box-sizing: border-box;

  padding: 0px 7px 7px 15px;

  background-color: #ffffff;

  border: 1px solid $darkShade50;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  margin-top: 67px;

  transition: all 0.4s ease;

  opacity: 0;
  z-index: 8;

  .control-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 30px;

    .resetSelect {
      visibility: hidden;

      font-family: Montserrat-Bold;
      font-size: 12px;

      line-height: 15px;
      text-transform: uppercase;

      color: $darkShade50;

      user-select: none;
      cursor: pointer;
    }
    .applySelect {
      visibility: hidden;

      font-family: Montserrat-Bold;
      font-size: 12px;

      line-height: 15px;
      text-transform: uppercase;

      color: $purple;

      user-select: none;
      cursor: pointer;
    }
  }
}

.dropdown-v-1 {
  height: 0px;

  margin-top: 67px;

  @media (max-width: 400px) {
    width: 247px;
  }
}

.dropdown-v-2 {
  height: 0px;
  width: 320px;

  @media (max-width: 400px) {
    width: 247px;
  }
}

.rooms-dropdown-width {
  width: 265px;
}

.checkboxes-title {
  border: none;

  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  padding-left: 0;

  color: $darkShade100;
}

.checkboxes-content {
  height: 0px;
  border: none;

  margin-top: 43px;
  padding: 0;

  transition: all 0.2s ease;

  &__item {
    display: flex;
    justify-content: left;
    align-items: center;
    visibility: hidden;

    height: 20px;

    label {
      height: 20px;

      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 18px;

      text-transform: none;

      color: $darkShade50;

      cursor: pointer;

      span {
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          display: block;

          background-color: white;
          transition: all 0.3s;
        }
        &::before {
          left: -25px;
          top: 10px;

          width: 6px;
          height: 2px;

          transform: rotate(45deg);
        }
        &::after {
          left: -22px;
          top: 9px;

          width: 8px;
          height: 2px;

          transform: rotate(-45deg);
        }
      }
    }

    input {
      position: absolute;
      width: 20px;
      height: 20px;

      z-index: -1;
      opacity: 0;
    }

    @extend %custom-checkbox;
  }
}

.item {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  opacity: 0;
  transition: all 0.4s ease;

  &__title {
    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
  }
  &__calc {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 92px;

    .quantity {
      font-family: Montserrat-Bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }
    .btn-minus,
    .btn-plus {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 30px;
      height: 30px;

      border: 1px solid $darkShade25;
      box-sizing: border-box;
      border-radius: 22px;

      padding-bottom: 2px;

      font-family: Montserrat-Regular;
      font-size: 18px;
      color: $darkShade50;

      cursor: pointer;
      user-select: none;
    }
  }
  .disabled {
    opacity: 0.5;
    cursor: default;
  }
}
