.search-page {
  height: 830px;
  background: url("../dist/assets/search_background.png") center no-repeat;
  background-position-y: -70px;

  @media (max-width: 768px) {
    height: 480px;
  }

  &__card {
    position: absolute;
    top: 70px;
    left: 140px;

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;

      top: 30px;
      left: 0;

      width: 100%;
    }
  }

  > span {
    position: absolute;
    right: 134px;
    bottom: 20px;

    width: 300px;

    font-family: Montserrat-Regular;
    font-size: 14px;

    text-align: right;
    line-height: 25px;

    color: $darkShade75;

    @media (max-width: 768px) {
      right: 0;
      bottom: 18px;

      width: 90%;
      padding: 0 5%;

      text-align: center;
    }
  }
}
