include ../../ui-kits/ui-kits.pug

mixin room()
  div.card.room
    div.room__image-container
      div.toggler.prev
      div.toggler.next
      div.indicators
        div.indicators__slide
        div.indicators__slide
        div.indicators__slide
        div.indicators__slide

    div.room__title
      div.number
        span №
        span 888
        span люкс
      div.price
        span 9 990₽
        span в сутки

    div.room__rating
      +stars('non-clickable', 3)
      div.reviews
        span 145
        span Отзывов