.toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 270px;
  height: 20px;

  @media (max-width: 400px) {
    width: 245px;
  }

  input {
    position: absolute;
    width: 40px;
    height: 20px;
    opacity: 0;
    z-index: 1000;

    cursor: pointer;
  }

  input:checked + &__slider {
    border-color: $purple;

    &::before {
      left: 26px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
  }

  label {
    font-family: Montserrat-Regular;
    font-size: 14px;

    text-transform: none;

    color: $darkShade75;

    @media (max-width: 400px) {
      font-size: 13px;
    }
  }

  &__slider {
    width: 40px;
    height: 20px;

    border: 1px solid $darkShade25;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.3s;

    &::before {
      position: absolute;
      left: 4px;
      top: 4px;
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $darkShade25;
      transition: left 0.3s;
    }
  }
}
