mixin pagination()
  div.pagination
    div.pagination__pages
      each num in [1, 2, 3, '...', 15]
        span.num=num
      span.next-page
        div
          include ../button/images/arrow_white.svg

    span.pagination__label 1 – 12 из 100+ вариантов аренды