doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Hotel
    link(rel="stylesheet", href="main.css")
  body
    div.wrap

    include includes/ui-kits/input/input.pug

    +input('email')
    +input('text')
    +input('date')
    +input('dropdown')
    //-+input('hidden')