doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Hotel
  body
    include includes/ui-kits/input/input.pug

    //-+input('email')
    //-+input('text')
    //-+input('subscribe')
    //-+input('date')
    //-+input('date_little')
    +input('dropdown_1')
    +input('dropdown_2')
    //-+input('checkbox-list')
    //-+input('checkbox-rich')
    //-+input('checkbox-buttons')
    //-+input('bullet-list')
    +input('radio')