doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Hotel
  body
    //-include includes/cards/cards.pug

    include includes/headers-footers/headers-footers.pug

    +header('header-visitor')
