$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade10: rgba(31, 32, 65, 0.1);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$purpleGradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$greenGradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

@import "fonts/fonts.scss";

@import "styles/index.scss";

@import "includes/ui-kits/ui-kits.scss";
@import "includes/cards/cards.scss";
@import "includes/headers-footers/headers-footers.scss";
@import "pages/pages.scss";
